.routes{
    margin: 20px;

}
#select option{
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
#select {
    
}

/*----------------------- midia -------------------*/
@media only screen and (max-width: 600px) {
    #select option{
      display: block;
    }
  }